<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- example launch script for ArduPilotMega based FCU's -->

	<arg name="teraraners_port" default="/dev/serial/by-id/usb-STMicroelectronics_STM32_Virtual_ComPort_00000000001A-if00"/>
<!--	<arg name="pozyx_port" default="/dev/serial/by-id/usb-Pozyx_Labs_Pozyx_Virtual_ComPort_in_FS_Mode_328234693037-if00"/>-->
        <arg name="pozyx_port" default="/dev/ttyACM1"/>
	<arg name="altimeter_port" default="/dev/serial/by-id/usb-FTDI_FT230X_Basic_UART_DO01J5J6-if00-port0"/>
	<arg name="fcu_url" default="/dev/ttyS4:921600" />
	<arg name="gcs_url" default="udp-b://:14556@" />
	<arg name="tgt_system" default="113" />
	<arg name="tgt_component" default="1" />
	<arg name="log_output" default="screen" />
	<arg name="fcu_protocol" default="v1.0" />
	<arg name="respawn_mavros" default="false" />
	<arg name="wall_left_border" default="0.2" />
	<arg name="wall_right_border" default="7" />
	<arg name="wall_upper_border" default="7" />
	<arg name="accept_radius" default="0.3" />
	
	<node name="sf11_node" ns="sf11" pkg="sf11_node" type="sf11_node_i2c" respawn="true" output="screen">
		<param name="topic" type="string" value="/paint/laser/alt" />
		<param name="i2c_bus" type="string" value="/dev/i2c-5" />
		<param name="i2c_address" type="string" value="0x66"/>
	</node>


</launch>
